# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
*.eggs/

# Python environment files
.Python
pip-wheel-metadata/

# Database files
*.sqlite3
*.db
*.bak

# Environment variables
.env

# IDE files
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log
coverage.xml
htmlcov/
